body {
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:12px;
    color:#666666;
    text-align:center; /*aqui mandamos a centrar todo el contenido*/ 
}
#contenedor {
    width:1000px; /*ancho total de la pagina*/ 
    border:1px solid #333333; /*encadeno los 3 atributos claves del borde en una sola linea, ahorrando codigo XD*/ 
    background-color:#FFF8F0;
    margin:2px auto; /*10px arriba y abajo, y auto a los lados, para los navegadores nuevos es suficiente para centrar la pagina*/ 
     
}
#cabecera{
	background-color: #CEF6F5;
	height: 100px;
	width: 990px;
	margin-left: 5px;
	background-image: url("selva.jpg");
}
#cuerpo{
	background-color: red;
	height: 800px;
	width: 990px;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px; 
}
#menu{
	width: 250px;
	height: 800px;
	background-color: #E0F2F7;
	right: 200px;
	float: left;
}

#principal{
	width: 740px;;
	height: 800px;
	background-color: white;
	float: left;
}



